# App settings
PORT=3000

# ADP Vista Specific URLs
PORTAL_LOGIN_URL=https://online.apac.adp.com/signin/v1/?APPID=ADPVISTA-IN&productId=ff803a24-0ee0-47fc-e053-f282530bfabe&returnURL=https://www.vista.adp.com/in/&callingAppId=ADPVISTA&TARGET=-SM-https://www.vista.adp.com/in/V6/ess/
PORTAL_DASHBOARD_URL=https://www.vista.adp.com/in/V6/ess/dashboard

# NOTE: Portal User ID and Password are no longer stored here.
# They are entered dynamically via the Web UI at runtime for security.
